@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
  font-family: "Digital";
  src: url("./assets/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
