@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Digital";
  src: url("/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}
